body {
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  @include font-control(16px, 21px, 400);
  @include container();
  padding: 0;
  background: #EEE;
}

.visually-hidden {
  display: none;
}
